:root {
  --background: #525252;
}
html,
body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgray
}
.navBar {
  background: var(--background);
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
  top: 0;
  border-bottom: 3px solid #ec625f;
}

.logo {
  color: white;
}

.navToggle {
  display: none;
}

.navToggleLabel {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.navToggleLabel span,
.navToggleLabel span::before,
.navToggleLabel span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.navToggleLabel span::before,
.navToggleLabel span::after {
  content: "";
  position: absolute;
}

.navToggleLabel span::before {
  bottom: 7px;
}

.navToggleLabel span::after {
  top: 7px;
}

nav {
  
  position: absolute;
  text-align: left;
  top: 0;
  left: 0;
  background: var(--background);
  width: 100%;

transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
  
}

nav ul {
  margin: 40px 0px 0px 0px;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color: #ec625f;
}

.navToggle:checked ~ nav {
  transform: scale(1, 1);
}

.navToggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
} 
/* flex primitives */

.row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
}
.column p{
  font-size: 20px;
  line-height: 30px;
}


/* slideshow */

.slideshow-container {
  height: 500px;
}

.slideshow {}

.slideshow img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 500px;
  animation: slideshow 6s infinite;
  opacity: 0;
}

@keyframes slideshow {
  25% {
      opacity: 1;
  }
  40% {
      opacity: 0;
  }
}

.slideshow img:nth-child(4) {
  animation-delay: 0s;
}

.slideshow img:nth-child(3) {
  animation-delay: 1s;
}

.slideshow img:nth-child(2) {
  animation-delay: 2s;
}
.slideshow img:nth-child(1) {
  animation-delay: 3s;
}
/* products */
/* .product-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 10px;
  margin-top: 75px;
  grid-gap: 2rem;
  background-color: white;
  box-shadow: 10px 5px 5px red;
}
.product >img {
  height: 160px;
  width: 140px;
}
.product{
  padding: 5em;
  text-align: center;
  
  background-color: white;
 } */

/* prouducts v2*/

 #cards-container {
    display: grid;
    grid-template-columns: repeat(3, 6fr);
    margin: 2%;
    grid-column-gap: 2rem;
  }

 .card {
      background-color:white;
      border-radius: 10px;
      margin: 4%;
      box-shadow: 2px 2px 10px #ec625f;
      width: 100%;
      padding: 10px;
      grid-gap: 2rem;
      
    }
  
    img {
      width:23rem;
    }
  
  /* .card-image {
    width:10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  } */
  
  
  /* .card-title {
    text-align: center;
    padding: 5px;
  } */
  
  .card-desc {
    text-align: left;
    padding: 5%;
  }
  
  .title {
    padding-top: 50px;
    padding-left: 40px;
    text-decoration: underline;
  }
   
 .label {
    margin-left: 5%;
}
 
.btn-2 {
    border: 2px solid black;
    color: white;
    background: #242121;
    padding: 6px 15px;
    border-radius: 10px;
    margin: 5%;
    text-decoration: none;
    text-align: center;
}
.btn-2:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    cursor: pointer;
} 
@media (max-width: 900px) {
  .cards-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
.desc {
  height: 100px;
  margin-top: 5%;
} 
#text-bolder {
  font-weight: bold;
}
/* #hide {
  display: none;
} */

#button, h6{
  margin-left: 1%;
}
#button:hover {
  background: #004faa;
}
#button {
  border: solid black 1px;
}
#cardAlign {
  margin: 1%;
}

/* contact page */
/* #contact input[className="contact-title"]{
  
  width:50%;
  margin: auto;
  margin-top: 90px;
  
}

#contact h2 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 3rem;
  background-color:#ec625f;
}

#contact input[className="field"],
select,
textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid #eeeee0; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical; 
  
}

Style the submit button with a specific background color etc
#contact input[type="submit"] {
  background-color: #eeeee0;
  color: #ad9f93;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
}

/* Add a background color and some padding around the form */
/* #contact .container {
  border-radius: 5px;
  background-color: #ec625f;
  padding: 20px;
  margin: 20px;
} */

/* buttons */
/* h1{
  text-align: center;
} */

/* contact page v2 */

.contact-container {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 152px);
  padding: 20px 10px;
  margin-bottom: 10%;
  margin-top: 5%;
}
.content-box {
  max-width: 850px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
  box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.left {
  height: 100%;
  /* background: url("./closet.jpeg") no-repeat center;  */
  background-size: cover;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.right {
  padding: 25px 40px;
}
h2 {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.field {
  width: 100%;
  padding: 0.5rem 1rem;
  outline: none;
  border: 2px solid rgba(0, 0, 0, 0);
  background-color: rgba(230, 230, 230, 0.6);
  font-size: 1.1rem;
  margin-bottom: 22px;
  transition: .3s;
}
.field:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.field:focus {
  background-color: #fff;
  border: 2px solid black;
}
.contact-btn {
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  background: #242121;
  outline: none;
  border: none;
}
.contact-btn:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}
.contact-btn {
  color: white;
}
@media screen and (max-width:800px) {
  .content-box {
      grid-template-columns: 1fr;
  }
  .left {
      height: 200px;;
  }
}
@media screen and (max-width: 450px) {
  .content-box {
      grid-template-columns: 1fr;
      width: 500px;
  }
  .left {
      height: 200px;
      border-bottom-left-radius: 0px;
      border-top-right-radius: 10px;
  }
  .right {
      padding: 25px 40px;
  }
}
/* footer */
.social {
  margin-top: 40px;
  color: white;
  font-size: 20px;
}
.social .i {
  color: white;
  font-size: 60px;
  padding: 0px 10px ;
}
footer {
  display: flex;
  justify-content: center;
  background-color: #525252;
  padding: 0.5rem;
  top: 0;
  border-top: 3px solid #ec625f;
  padding: 0.5rem;
  font-size: 0.5rem;
}

footer p {
  margin: 10px;
  color: white;
  font-size: 20px;
}
.social-media {
  padding: 17px 0px 0px 0px;
}
.social-media a {
  color: white;
  font-size: 15px;
}


@media screen and (min-width: 1300px) {
  .row {
    flex-direction: row;
    grid-gap: 65px;
    padding: 29px;
  }
  .column p {
    font-size: 20px;
    padding: 10px;
    line-height: 30px;
    }
  .navToggleLabel {
    display: flex;
  }

  .navToggleLabel span,
  .navToggleLabel span::before,
  .navToggleLabel span::after {
    display: none;
  }
  .navBar {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }

  .logo {
    grid-column: 1/ 3;
    margin-top: 15px;
  }

  nav {
    all: unset;
    grid-column: 4 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  nav ul {
    display: flex;
    margin:10px;
    margin-bottom: 20px;
    padding: 10px;
    
  }

  nav li {
    margin-left: 6em;
    margin-bottom: 0;
  }

  nav a {
    opacity: 1;
    position: relative;
  }

  nav a::before {
    content: "";
    display: block;
    height: 5px;
    background: black;
    position: absolute;
    bottom: -0.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transform-origin: left;
    transition: transform ease-in-out 250ms;
  }

  nav a:hover::before {
    transform: scale(1, 1);
  }
}
.three-wide {
  display: flex;
  justify-content: center;
}

.third-container {
  border-right: 1px solid lightgray;
  margin: 10px 0;
  padding: 2%;
}
.margin-normal{
  margin: 0px 10px;
}
.button {
  
  
  border-radius: 10px;
  color: black;
  display: block;
  font-size: 1.5rem;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  background-color: whitesmoke;
  width: auto;
  margin: 0px auto 25px auto;
  
}



.button:hover {
  background-color: #ec625f;
  color: white;
}